alias a="source ~/.bash_login"
alias ae="aquamacs"
alias retinot="screenresolution set 2560x1600x32@0"
alias l="ls"
alias ll="ls -lah"
alias la="ls -al"
alias sl="sqlite3"
alias p="pwd | pbcopy"
alias m="mate"
alias s="subl -n"
alias d="cd ~/Downloads"
alias docs="cd ~/Documents"
alias D="cd ~/Desktop"
alias t="tail -f"
alias o="open"
alias q="qlmanage -p"
alias elx="elixir"
alias workoff="deactivate"

# Git
alias g="git status"
alias gcam="git commit -am"
alias gb="git branch"
alias gcb="git checkout -b"
alias gl="git log"
alias ga="git add"
alias gp="git push"
alias gpl="git pull"
alias gt="git tag"
alias gd="git diff"
alias gdc="git diff --cached"

# Cucumber
alias cu="cucumber"

# Rails
alias r="rails"
alias ss="script/server"
alias sc="script/console"
alias csd="cap staging deploy"
alias cpd="cap production deploy"
alias restart="touch tmp/restart.txt"
alias tl="tail -f log/development.log"

# Ruby
alias sgi="sudo gem install --no-rdoc --no-ri"
alias sgl="sudo gem list"
alias sgu="sudo gem update --no-rdoc --no-ri"

# Teaching

# Projects
