alias a="source ~/.bash_profile"
alias aa="source ~/.aliases"
alias ae="aquamacs"
alias retinot="screenresolution set 2560x1600x32@0"
alias l="ls"
alias ll="ls -lah"
alias la="ls -al"
alias sl="sqlite3"
alias pp="pwd | pbcopy"
alias s="subl -n"
alias docs="cd ~/Documents"
alias D="cd ~/Desktop"
alias t="tail -f"
alias o="open"
alias q="qlmanage -p"
alias elx="elixir"
alias workoff="deactivate"

# Git
alias g="git status"
alias gs="git show"
alias gcam="git commit -am"
alias gb="git branch"
alias gcb="git checkout -b"
alias m="git checkout master"
alias d="git checkout develop"
alias de="git checkout development"
alias gmd="git merge develop"
alias gmde="git merge development"
alias gl="git log"
alias ga="git add"
alias gp="git push"
alias gpl="git pull"
alias gt="git tag"
alias gd="git diff"
alias gdc="git diff --cached"

# Cucumber
alias cu="cucumber"

# Rails
alias r="rails"
alias bspec="bin/rspec"
alias csd="cap staging deploy"
alias cpd="cap production deploy"
alias restart="touch tmp/restart.txt"
alias tl="tail -f log/development.log"
alias fs="foreman start"

# Ruby
alias sgi="sudo gem install --no-rdoc --no-ri"
alias sgl="sudo gem list"
alias sgu="sudo gem update --no-rdoc --no-ri"

# Teaching

# Projects
