[user]
	name = Yong Bakos
	email = ybakos@humanoriented.com
[color]
	branch = auto
	status = auto
	diff = auto
[github]
	user = ybakos
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
